<navbar></navbar>
<h1><a target="_blank" href="{{$ctrl.repo.url}}">{{$ctrl.repo.slug}}</a></h1>
<a class="pull-right" href="/#/newRepo?isUpdating={{$ctrl.repo._id}}">Update</a>
<section>
  <div class='error'>{{$ctrl.error}}</div>

  <h3>
    Created: {{$ctrl.repo.createdAt}} | Last Updated: {{$ctrl.repo.updatedAt}}
  </h3>
  <div>
    {{$ctrl.repo.description}}
  </div>

  <h2>Builds</h2>
  <ul ng-repeat="build in $ctrl.repo.builds">
    <li>
      <h4>
        <a href="/#/build/{{build._id}}">ID: {{build._id}} ({{build.state}})</a>
      </h4>
      <h4>
        Branch: {{build.branch.slug.split('refs/heads/')[1]}} (<a target="_blank" href="{{build.compareUrl}}">{{build.compareUrl.split('compare/')[1]}})</a>
      </h4>
      <h4>
        Created: {{build.createdAt}} | Last Updated: {{build.updatedAt}}
      </h4>
    </li>
  </div>

</section>
