<navbar></navbar>

<div ng-show="$ctrl.error" class="alert alert-danger" role="alert">
  <strong>Error!</strong> {{$ctrl.error}}
</div>

<div ng-show="!$ctrl.error && $ctrl.repo">
  <div class="page-header">
    <h1><a target="_blank" href="{{$ctrl.repo.url}}">{{$ctrl.repo.slug}}</a></h1>
  </div>

  <div class="row timestamp-info">
    <h4 class="col-md-10">
      <span class="crumb">Created: {{$ctrl.repo.createdAt | date:"dd/MM/yyyy h:mma"}}</span>
      <span>Last Updated: {{$ctrl.repo.updatedAt | date:"dd/MM/yyyy h:mma"}}</span>
    </h4>
    <a class="col-md-1 btn btn-default" href="/#/newRepo?isUpdating={{$ctrl.repo._id}}" role="button">Update</a>
  </div>
  <div ng-show="$ctrl.repo.description" class="row well">
    {{$ctrl.repo.description}}
  </div>

  <div class="form-group">
    &nbsp;
  </div>
  <ul ng-repeat="build in $ctrl.repo.builds" class="list-group">
    <li class="list-group-item">
      <div class="row ml-0-pc">
        <h4>
          <span><a href="/#/build/{{build._id}}">Build: {{build._id}}</a></span>
          <span ng-show="build.state && build.state.toUpperCase() === 'SCHEDULED'" class="pull-right col-md-1 mr-1-pc label label-default">Scheduled</span>
          <span ng-show="build.state && build.state.toUpperCase() === 'SUCCESS'" class="pull-right col-md-1 mr-1-pc label label-success">Success</span>
          <span ng-show="build.state && build.state.toUpperCase() === 'RUNNING'" class="pull-right col-md-1 mr-1-pc label label-info">Running</span>
          <span ng-show="build.state && build.state.toUpperCase() === 'FAILED'" class="pull-right col-md-1 mr-1-pc label label-danger">Failed</span>
        </h4>
      </div>
      <div class="row ml-0-pc">
        <span class="crumb">Created: {{$ctrl.repo.createdAt | date:"dd/MM/yyyy h:mma"}}</span>
        <span>Last Updated: {{$ctrl.repo.updatedAt | date:"dd/MM/yyyy h:mma"}}</span>
      </div>
      <div class="row ml-0-pc">
        <span class="crumb">Branch: {{build.branch.slug.split('refs/heads/')[1]}}</span>
        <span>Ref: <a target="_blank" href="{{build.compareUrl}}">{{build.compareUrl.split('compare/')[1]}}</a></span>
      </div>
    </div>
    </li>
  </ul>

</div>
