body
  padding-top: 70px
  padding-bottom: 30px

.theme > p > .btn
  margin: 5px 0

.theme form ul
  list-style: none

.theme .navbar .container
  width: auto

.theme .navbar-brand
  padding-left: 3pc

.theme .jumbotron h1
  font-size: 63px

.theme .jumbotron h2
  margin-left: 4pc
  margin-bottom: 3pc

.theme .build-status
  margin-top: 25px
  font-size: 100% !important

.theme .timestamp-info
  margin-left: 0px

.theme .pull-right
  float: right

.theme .mb-1-pc
  margin-bottom: 1pc

.theme .mr-1-pc
  margin-right: 1pc

.theme .mr-05-pc
  margin-left: 0.5pc

.theme .ml-0-pc
  margin-left: 0

.theme .crumb::after
  padding-left: 1px
  padding-right: 1px
  content: "»";
  color: rgb(33, 33, 33);
  padding: 0px 5px;
